<div class="todo-container mat-elevation-z8">
  @if (isLoading || isError) {
  <div class="loading-shade">
    @if (isLoading) {
    <mat-spinner [diameter]="30"></mat-spinner>
    } @if (isError) {
    <div class="error-message">Failed to load data. Please try again.</div>
    }
  </div>
  }

  <div class="todo-table-scroll">
    <table mat-table [dataSource]="todos" class="mat-table sticky-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef sticky>ID</th>
        <td mat-cell *matCellDef="let todo">{{ todo.id }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef sticky>Title</th>
        <td mat-cell *matCellDef="let todo">{{ todo.title }}</td>
      </ng-container>

      <!-- Completed Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef sticky>Completed</th>
        <td mat-cell *matCellDef="let todo">
          <mat-icon
            class="todo-icon"
            color="primary"
            [ngClass]="{ 'boolean-true': todo.completed }"
          >
            {{ todo.completed ? 'check_circle' : 'cancel' }}
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="userListData"></tr>
      <tr mat-row *matRowDef="let row; columns: userListData"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="totalItems"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
